$retroGrey: #212121;
$retroGreen: #A7FF2D;

input[type=text]{
    font-family: "Open Sans", sans-serif;
    border-radius: 0.5em;
    background: #3e3d3d;
    color: #b4b3b3;
    width: auto;
    font-size: 12pt;
    border: 0;
    outline: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2%;
}

#popup{
    text-align: center;
}

input[type=submit]{
    margin-top: 5%;
    background: $retroGreen;
    height: 4vh;
    color: $retroGrey;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    margin-bottom: 10px;
    border: none;
    font-size: 12pt;
    width: 50%;
    position: relative;
  }