<ng-container id="profile">
    <div id="all">
    <h1>{{this.email}}</h1>
    <div id="enemy" *ngIf="this.progress>0">
    <h2 style="color:#ff2d3e;">Morgoth The Dreadful</h2><br />
    <img src="assets/images/ghost.png" alt="Flying skeleton enemy downloaded from https://bevouliin.com/spooky-ghost-sprites-free-game-asset/" width="10%"><br />
    <h2>Enemy Health</h2>
    <h3 style="margin-top: 0.5em">{{this.progress}} / 100</h3>
    <mat-progress-bar class="health" mode="determinate" value={{this.progress}}></mat-progress-bar>
    </div>
    <div *ngIf="this.progress<=0" id="Success">
        <h2 style="color:#96ca4c;">"Success You have defeated Morgoth the Dreadful who has been terrorizing the village!"</h2><br />
        <img src="assets/images/boy.png" />
    </div>
    <div id="items"><h3>Items Received: </h3> <img *ngIf="week1Item==true" src="assets/images/shield.png" alt="https://www.flaticon.com/free-icons/shield" width="2%" class="items"/> <img *ngIf="week2Item==true" src="assets/images/sword.png" width="2%" alt="https://www.flaticon.com/free-icons/sword" class="items"> <img *ngIf="week3Item==true" src="assets/images/boot.png" width="2%" alt="https://www.flaticon.com/free-icons/boot" class="items"> <img *ngIf="week4Item==true" src="assets/images/bottle.png" width="2%" alt="https://www.flaticon.com/free-icons/potion" class="items"></div>
    
    <h1 style="color:#A7FF2D;">Weekly Goals</h1>
    <div id="week1"><h2 style="color:#A7FF2D;">Week 1: </h2> <img src="assets/images/shield.png" alt="https://www.flaticon.com/free-icons/shield" width="2%" class="items"/><mat-icon *ngIf="week1Item==true" style="color:#A7FF2D;">check_circle</mat-icon>
    <h3>Distance Run Week 1: <br />{{this.distanceRunWeek1}}km / {{this.week1DistGoal}}km</h3>
    <h3>Times Run Week 1:   <br />{{this.timesRunWeek1}} / 3</h3></div>

    <div id="week2"><h2 style="color:#A7FF2D;">Week 2:</h2> <img src="assets/images/sword.png" width="2%" alt="https://www.flaticon.com/free-icons/sword" class="items"><mat-icon *ngIf="week2Item==true" style="color:#A7FF2D;">check_circle</mat-icon>
    <h3>Distance Run Week 2: <br />{{this.distanceRunWeek2}}km / {{this.week2DistGoal}}km</h3>
    <h3>Times Run Week 2:   <br />{{this.timesRunWeek2}} / 3</h3></div>

    <div id="week3"><h2 style="color:#A7FF2D;">Week 3:</h2> <img src="assets/images/boot.png" width="2%" alt="https://www.flaticon.com/free-icons/boot" class="items"><mat-icon *ngIf="week3Item==true" style="color:#A7FF2D;">check_circle</mat-icon>
    <h3>Distance Run Week 3: <br />{{this.distanceRunWeek3}}km / {{this.week3DistGoal}}km</h3>
    <h3>Times Run Week 3:   <br />{{this.timesRunWeek3}} / 3</h3></div>

    <div id="week3"><h2 style="color:#A7FF2D;">Week 4:</h2> <img src="assets/images/bottle.png" width="2%" alt="https://www.flaticon.com/free-icons/potion" class="items"><mat-icon *ngIf="week4Item==true" style="color:#A7FF2D;">check_circle</mat-icon>
    <h3>Distance Run Week 4: <br />{{this.distanceRunWeek4}}km / {{this.week4DistGoal}}km</h3>
    <h3>Times Run Week :   <br />{{this.timesRunWeek4}} / 3</h3></div>
    </div>
</ng-container>
