<div id="homePage">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>
      <button
        class="nav-button"
        [routerLink]="'profile'"
        matTooltip="Home"
        matTooltipPosition="right"
      >
        <mat-icon>home</mat-icon>
      </button>
      <!-- Get icon names from material.io/icons -->
      <button
        class="nav-button"
        matTooltip="Enter Run Distance"
        matTooltipPosition="right"
        [routerLink]="'input'"
      >
        <mat-icon>directions_run</mat-icon>
      </button>
      <button class="nav-button-bottom" id="signout" matTooltip="Sign Out"
      matTooltipPosition="right"
      (click)="signOut() "><mat-icon>logout</mat-icon></button>
    </mat-drawer>

    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

